# Entorno virtual
venv/
venvlibros2/
libros1/
.env/

# Archivos de salida
output/
*.wav
*.mp3

# Archivos temporales o del sistema
__pycache__/
*.pyc
*.pyo
*.log
.DS_Store
Thumbs.db

# Archivos de configuración de herramientas
.ipynb_checkpoints/
.libros1/
.venvlibros2/